In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

# 노트북이 위치한 루트를 기준으로 설정 (노트북이 루트에 있다는 전제)
ROOT = Path.cwd()

MODEL1_DIR = ROOT / "Model 1"
MODEL2_DIR = ROOT / "Model 2"
MODEL3_DIR = ROOT / "Model 3"

MAT_PATH   = ROOT / "3000Samplesv3.mat"  # 루트에 있다고 가정

### 1) Model 3/Model_3.csv 읽기 (Pandas)

In [2]:
csv_path = MODEL3_DIR / "Model_3.csv"

# 인코딩 이슈가 있으면 encoding='cp949' 등 시도
df3 = pd.read_csv(csv_path)  # 또는 pd.read_csv(csv_path, encoding='utf-8')
print("Model_3.csv:", df3.shape)
print("columns:", df3.columns.tolist()[:30])
display(df3.head())

Model_3.csv: (605620, 78)
columns: ['Time_Now', 'Blanking_Util', 'Blanking_SKU1_Queue', 'Blanking_SKU2_Queue', 'Blanking_SKU3_Queue', 'Blanking_SKU4_Queue', 'Press1_Util', 'Press2_Util', 'Press3_Util', 'Press4_Util', 'Press1_Queue', 'Press2_Queue', 'Press3_Queue', 'Press4_Queue', 'Cell1_Util', 'Cell2_Util', 'Cell3_Util', 'Cell4_Util', 'Cell1_Queue', 'Cell2_Queue', 'Cell3_Queue', 'Cell4_Queue', 'Warehouse1_Queue', 'Warehouse_2_Queue', 'Warehouse_3_Queue', 'Warehouse_4_Queue', 'c_Cycle1', 'c_Cycle2', 'c_Cycle3', 'c_Cycle4']

,Time_Now,Blanking_Util,Blanking_SKU1_Queue,Blanking_SKU2_Queue,Blanking_SKU3_Queue,Blanking_SKU4_Queue,Press1_Util,Press2_Util,Press3_Util,Press4_Util,...,SKU3_NVA_Time,SKU3_Transport_Time,SKU3_Wait_Time,SKU3_Other_Time,SKU4_VA_Time,SKU4_NVA_Time,SKU4_Transport_Time,SKU4_Wait_Time,SKU4_Other_Time,Blanking_Queue
0,24,0.846367,0.045715,0.056373,0.055737,0.035849,0.410297,0.434561,0.481388,0.399992,...,0.0,0.537617,0.453650,0.0,1.523338,0.0,0.536243,0.473453,0.0,58.361452
1,24,0.851097,0.051937,0.052934,0.038512,0.042248,0.455471,0.454445,0.387975,0.442986,...,0.0,0.536764,0.473677,0.0,1.523344,0.0,0.534992,0.464380,0.0,62.830599
2,24,0.846115,0.052210,0.047499,0.043181,0.040979,0.496717,0.450816,0.417308,0.352829,...,0.0,0.535925,0.424090,0.0,1.523403,0.0,0.535077,0.475330,0.0,59.365867
3,24,0.841306,0.051769,0.035436,0.046788,0.052362,0.433749,0.363004,0.443909,0.456036,...,0.0,0.535232,0.430992,0.0,1.523381,0.0,0.533233,0.463801,0.0,56.698528
4,24,0.859599,0.045874,0.046802,0.044507,0.057210,0.418329,0.396826,0.499273,0.472454,...,0.0,0.538142,0.502614,0.0,1.523363,0.0,0.537223,0.449320,0.0,65.784631

In [3]:
df3.shape

(605620, 78)